<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>De online apotheek zonder zorgen | easyfarma.be</title>
    <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/public/stylesheets/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/flexslider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/public/stylesheets/font-awesome.css" type="text/css" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50087264-1', 'easyfarma.be');
        ga('send', 'pageview');
    </script>
</head>
<body>
<!--Header Section-->
<div id="home" class="top">
    <div class="container">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right">
            <div class="nav">
                <ul class="navi">
                    <li><a href="#hoewerkthet">Hoe werkt het?</a></li>
                    <li><a href="#features">Voordelen</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="banner">
    <div id="bannerSlider" class="carousel carousel-fade slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(/public/images/header/pharmateam.jpg);">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>easyfarma.be</h1>

                                <h2>De online apotheek zonder zorgen</h2>

                                <div class="btn-orange"><a href="#signup">Hou me op de hoogte</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-bg">
    <div id="testimonial" class="flexslider">
        <div class="container">
            <div class="col-lg-12 testimonial-title">Onze missie</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 testimonial-content">
                <p>Wij geloven in <b>samenwerking</b> tussen zelfstandige apothekers.</p>

                <p>Elke apotheker moet <b>online</b> producten kunnen verkopen, <b>zonder een fortuin</b> te besteden
                    aan de bouw van een webshop.

                <p>

                <p>Daarom ontwikkelen we <b>één online platform</b>. Alle bestellingen worden verdeeld onder de
                    partnerapotheken.</p>

                <p>Wij zorgen voor de <b>technische kant</b> en de <b>promotie</b> van de website, zodat jij je enkel
                    met de patiënten hoeft bezig te houden.</p>
            </div>
        </div>
    </div>
</section>

<section class="bluebg" id="signup">
    <div class="container msg">
        <div id="message" style="display:none"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 opt-container">
            <h1>Hou me op de hoogte</h1>

            <h2>We werken momenteel hard om easyfarma.be online te krijgen. Laat hier je gegevens achter zodat we je op
                de
                hoogte kunnen houden.</h2>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div id="houmeopdehoogte-message" style="display:none">Bedankt, je gegevens werden verzonden!</div>
            </div>
            <form id="contactform" action="houmeopdehoogte" method="post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input name="name" type="text" id="name" placeholder="Je naam">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input name="email" type="text" id="email" placeholder="Je e-mail adres">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div><input class="btn-blue" type="submit" value="versturen" id="submitContactForm"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="feature-styles" id="hoewerkthet">
    <div class="container feature-container">
        <div class="col-lg-9 col-md-9 col-sm-9 col-md-offset-3 opt-container">
            <h1 style="text-align: left">Hoe werkt het?</h1>

            <h2>
                    <span class="fa-stack" style="position: relative; top: -4px;">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <span class="fa fa-stack-1x" style="position:relative; top: 1px;">1</span>
                    </span>
                Als apotheker schrijf je je in als partner van easyfarma.be
            </h2>

            <h2>
                    <span class="fa-stack" style="position: relative; top: -4px;">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <span class="fa fa-stack-1x" style="position:relative; top: 1px;">2</span>
                    </span>
                Patiënt plaatst bestelling op easyfarma.be en betaalt online
            </h2>

            <h2>
                    <span class="fa-stack" style="position: relative; top: -4px;">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <span class="fa fa-stack-1x" style="position:relative; top: 1px;">3</span>
                    </span>
                Je wordt op de hoogte gebracht van de bestelling
            </h2>

            <h2>
                    <span class="fa-stack" style="position: relative; top: -4px;">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <span class="fa fa-stack-1x" style="position:relative; top: 1px;">4</span>
                    </span>
                Je kijkt de bestelling na en verstuurt de producten naar de patiënt
            </h2>
        </div>
    </div>
</section>

<section class="feature-styles" id="features">
    <div class="container feature-container">
        <div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <img src="/public/images/body/advantage3.jpg" alt="Works on all devices">
        </div>
        <div class="col-lg-pull-6 col-md-6 col-sm-12 col-xs-12">
            <h1>Je apotheek online zonder zorgen</h1>

            <div class="txt">Een online apotheek opbouwen en onderhouden kost veel tijd. Dat zijn momenten die
                je niet kan besteden aan wat echt belangrijk is: gezondheidsadvies aan patiënten. Easyfarma.be neemt
                de website volledig op zich, zodat jij daar niet over hoeft te piekeren.
            </div>
        </div>
    </div>
    <div class="container feature-container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <img src="/public/images/body/advantage2.jpg" alt="Reduce development time">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>Meer dan een webshop</h1>

            <div class="txt">Easyfarma.be wil meer zijn dan enkel een webwinkel. Patiënten moeten degelijk
                geïnformeerd worden over de producten die ze kopen. Daarom helpen we hen om een
                keuze te maken in de jungle van producten die op de markt zijn.
            </div>
        </div>
    </div>
    <div class="container feature-container">
        <div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <img src="/public/images/body/advantage1.jpg" alt="Works on all devices">
        </div>
        <div class="col-lg-pull-6 col-md-6 col-sm-12 col-xs-12">
            <h1>Geen opstartkosten, geen abonnement</h1>

            <div class="txt">
                Wij geloven heel sterk in "you get what you pay for". Daarom betaal je enkel maar wanneer
                je effectief een bestelling binnenkrijgt via easyfarma.be. Daarop rekenen we 5% van de
                waarde van de bestelling aan.
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact">
            <h1>Contacteer ons</h1>

            <h2>Een vraag? Een opmerking? Laat het ons weten!</h2>
        </div>
    </div>
    <div class="container contact-info">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <i class="fa fa-phone"></i>0497/40.99.52
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <i class="fa fa-envelope"></i>matti@easyfarma.be
        </div>
    </div>
    <div class="container contact-form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div id="contact-message" style="display:none">Bedankt, je boodschap werd verzonden!</div>
        </div>
        <form id="contactmsg" action="contact" method="post">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input name="name" type="text" id="name" placeholder="Je naam">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input name="email" type="text" id="email" placeholder="Je e-mail adres">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea name="message" id="message" cols="" rows="8" placeholder="Boodschap"></textarea>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <input class="btn-message" type="submit" value="Versturen" id="submitContactMsg">
            </div>
        </form>
    </div>
</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/public/javascripts/custom.js"></script>
<script src="/public/javascripts/bootstrap.js"></script>
<script src="/public/javascripts/jquery.easing.1.3.js"></script>
<script defer src="/public/javascripts/jquery.flexslider-min.js"></script>

</body>
</html>